.container-about {
  margin-top: 30px;
  width: 100%;
  display: flex;
  /* border: solid green 1px; */
}
.about-box {
  margin: auto;
  /* border: solid green 1px; */
  flex: auto;
}
.about1 {
  width: 1260px;
  margin: auto;
  /* border: solid green 1px; */
}
.about1 img {
  height: 367px;
}
.about2 {
  width: 1036px;
  margin: auto;
  /* border: solid green 1px; */
}
.about2 img {
  height: 634px;
}
.about3 {
  width: 879px;
  margin: auto;
  /* border: solid green 1px; */
}
.about3 img {
  height: 654px;
}
.about-tittle {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: ;
  font-size: 24px;
  color: #895d42;
}
.about4 {
  width: 879px;
  margin: auto;
  /* border: solid green 1px; */
  display: flex;
  justify-content: center;
}
.about-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  width: 200px;
  height: 60px;
  color: #895d42;
  background: #cbdfbd;
  border-radius: 8px;
}

.about-btn:hover {
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  width: 200px;
  height: 60px;
  color: #895d42;
  border: solid #895d42 1px;
  background: white;
}

.about-btn:focus {
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  width: 200px;
  height: 60px;
  color: #895d42;
  border: solid #895d42 1px;
  background: white;
}

.about-box4 {
  width: 879px;
  margin: auto;
  border: solid #895d42 1px;
  border-radius: 2px;
  flex: auto;
}
.about-tittle-special {
  width: 190px;
  height: 60px;
  margin-top: 40px;
  margin-left: 270px;
  background-color: #d4e09b;
  /* border: springgreen solid 1px; */
  padding-top: 10px;
  text-align: center;
  border-radius: 12px 12px 2px 2px;
  font-size: 24px;
  color: #895d42;
}
.about-box5 {
  width: 879px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -360px;
  /* background: pink; */
  /* border: solid #895d42 1px; */
  border-radius: 2px;
  display: flex;
}
.about5 {
  position: relative;
  margin: auto;
  width: 600px;
  height: 390px;
  background: var(--jjLemon);
  z-index: 9;
  box-shadow: 0px 6px 6px 0px #cccccc;
}
.lil-tittle {
  text-align: center;
  line-height: 4rem;
  font-size: 24px;
  color: #553623;
}
.lil-tittle2 {
  text-align: left;
  line-height: 4rem;
  font-size: 20px;
  color: #f47c4a;
}
.lil-content {
  padding-left: 25px;
  text-align: left;
  color: #583636;
  font-size: 18px;
  line-height: 2rem;
}

.lil-box {
  /* background: #fff; */
  margin-left: 100px;
  width: 360px;
}
