.container-form {
  margin-top: 80px;
  margin-left: 130px;
  width: 680px;
  height: 380px;
  /* border: solid red; */
}
.acc-form {
  width: 600px;
}
.ant-form-item-label > label {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px;
  color: #715240;
  font-size: 18px;
}
.ant-picker {
  border: solid #715240 1px;
}
.ant-picker:hover {
  border: solid var(--jjSalmon) 1.5px;
}

.ant-picker:focus {
  border: solid var(--jjSalmon) 1.5px;
}

.ant-input {
  border: solid #715240 1px;
  width: 450px;
}
.ant-input:hover {
  border: solid var(--jjSalmon) 1.5px;
}

.ant-input:focus {
  border: solid var(--jjSalmon) 1.5px;
}
.phone-number {
  width: 200px;
}
.first-line {
  display: flex;
  /* border: steelblue solid; */
}
.first-line .ant-form-item {
  margin-right: 46px;
}

.the-name {
  font-size: 18px;
  line-height: 3.7rem;
}
.the-tittle {
  font-weight: bold;
  font-size: 24px;
  line-height: 2.5rem;
}
.save-button {
  width: 130px;
  height: 50px;
  font-size: 20px;
  margin-left: 43%;
  border-radius: 50px;
  background-color: var(--jjSalmon);
  /* border: none; */
  color: white;
}
.save-button:hover {
  width: 130px;
  height: 50px;
  font-size: 20px;
  margin-left: 43%;
  border-radius: 50px;
  border: var(--jjSalmon) solid 1px;
  color: var(--jjSalmon);
}
.save-button:focus {
  width: 130px;
  height: 50px;
  font-size: 20px;
  margin-left: 43%;
  border-radius: 50px;
  border: var(--jjSalmon) solid 1px;
  color: var(--jjSalmon);
}

.container-acc {
  /* border: turquoise solid 1px; */
  display: flex;
}
.ls-pic1 img {
  width: 258px;
  margin-top: 110%;
  margin-left: -20%;
}
.ls-pic2 img {
  width: 240px;
  margin-top: 20%;
  margin-left: 49%;
}
