.container-cart {
  width: 100%;
  display: flex;

  /* border: solid green; */
}
.button-box-cart {
  width: 80%;
  height: 100px;
  margin-top: 65px;
  margin-bottom: 100px;
  margin-left: 190px;
  display: flex;
  flex-direction: row-reverse;
  /* border: solid blue; */
}

.cart-button {
  margin: 20px;
  background-color: var(--jjLeaf);
  width: 200px;
  height: 55px;
  font-size: 24px;
  color: #715240;
  border: solid var(--jjLeaf);
  border-radius: 50px;
}

.cart-button:hover {
  background-color: var(--jjLeaf);
  color: #715240;
  border: solid var(--jjChoco) 1px;
}
.cart-button:focus {
  background-color: var(--jjLeaf);
  color: #715240;
  border: solid var(--jjChoco) 1px;
}
