.donate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donatecard{
    width:90vw;
    /* height:15rem; */
    background-color: var(--jjGrass);
    border-radius: 5px;
    margin-bottom: 1rem;
    padding:2rem 0rem;
    padding-left: 10rem;
    padding-right: 1rem;
     /* offset-x | offset-y | blur-radius | spread-radius | color */
     box-shadow: 2px 2px 4px 0px rgba(137,93,66,0.4);
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}

.donatecard-add-btn{
    width:4rem;
    cursor: pointer;
    margin-top: -3rem;
}

.donatecard-count-logo{
    margin-top: -1rem;
    width:4rem;
}

.donatecard-row-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:2.5rem;
    line-height: 2.5rem;
    margin: 0.5rem 0;
    /* background-color: aquamarine; */
}
.donatecard-row-text{
    color:var(--jjChoco);
    font-size: 16px;
    width:7rem;
}

.donatecard .ant-input{
    border: 0;
    height:2.5rem;
    width:40rem
}

.donatecard .ant-form-item{
    margin: 0;
}

.donatecard .ant-picker{
    border: 0;
    height:2.5rem;
    width:12rem
}

.donatecard-add-btn-container{
    display: flex;
    justify-content: center;
}

.donatecard-btn-container{
    display: flex;
    width: 100%;
    /* background-color: aquamarine; */
    justify-content: flex-end;
}

.donatecard-btn-text{
    background-color: var(--jjChoco);
    color:white;
    font-size: 20px;
    font-weight: 500;
    width:8rem;
    height:3rem;
    border-radius: 3rem;
}

.donate-title{
    font-size: 30px;
    margin: 3rem 0;
    color:var(--jjChoco)
}
.donate-subtitle{
    font-size: 30px;
    margin-bottom: 2rem;
    color:var(--jjSalmon)
}

.donateFinish{
    background-color: var(--jjGrass);
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.donateFinish-bg{
    position: absolute;
    z-index: 1;
    background-color: var(--jjLeaf);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    /* margin-top: 25vh; */
    width:100vw;
    height:50vh;
    border-radius: 6px;

}

.donateFinish-card{
    position: relative;
    z-index: 2;
    background-color: white;
    height:80vh;
    width:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    flex-direction: column;


}

.donateFinish-pic{

}

.donateFinish-choco-text{
    font-size: 30px;
    color: var(--jjChoco);
    font-weight: 500;
    margin:1.5rem 0;

}
.donateFinish-green-text{
    font-size: 30px;
    color: var(--jjGrass);
    font-weight: 500;
    /* box-shadow: 0px 2px 4px 0px rgba(241,156,121,0.2); */
    text-shadow: 0px 2px 2px  rgba(241,156,121,0.2);

}
.donateFinish-back-btn{
    background-color: var(--jjChoco);
    color:white;
    width:12rem;
    height:3rem;
    border-radius: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 20px;
    margin:2rem 0;

}