.productDetail{
    margin-top: 2rem;
    width:100%;
}

.productDetail-bigpic-container{
    width:50rem;
    height:30rem;
    background-color: rgba(137,93,66,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.productDetail-bigpic{
    height:30rem
}

.productDetail-content{
    display: flex;
    flex-direction: row;
}

.productDetail-smallpic{
    height:6rem;
    width:100%;
    object-fit: cover;
    cursor: pointer;
    
}

.productDetail-smallpic-container{
    width:5rem;
    height:6rem;
    background-color: rgba(137,93,66,0.1);
    object-fit: cover;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.productDetail-smallpic-map{
    display: flex;
    flex-direction: row;
}

.productDetail-spinner-wrap{
    width:100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}