.container {
  width: 100%;
  /* border: solid green; */
}
.button-box {
  margin: 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  /* border: solid blue; */
}
.account-button {
  margin: auto;
  background-color: var(--jjGrass);
  width: 200px;
  height: 55px;
  font-size: 24px;
  color: #715240;
  border: solid var(--jjGrass);
  border-radius: 8px;
}

.account-button:hover {
  background-color: var(--jjGrass);
  color: #715240;
  border: solid var(--jjChoco) 1px;
}
.account-button:focus {
  background-color: var(--jjGrass);
  color: #715240;
  border: solid var(--jjChoco) 1px;
}
