.upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-notgift-btn{
    margin-right: 16rem;
    cursor: pointer;
}
.upload-gift-btn{
    margin-left: 16rem;
    cursor: pointer;
}
.upload-step1{
    display:flex;
    flex-direction: row;
}

.upload-step1-selection{
    margin-left: 18rem;
}

.upload-step1-pic-container{
    margin-left: 5rem;

}

.upload-step1-hint{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    margin-left: 6rem;
}

.upload-line{
    border-bottom: 2px solid var(--jjSalmon);
    width:10rem;
    height:2px;
}

.upload-text{
    color:var(--jjSalmon);
    font-size: 20px;
    letter-spacing: 8px;
}

.upload .ant-input{
    border: 1.5px solid var(--jjChoco);

    height:2.5rem;
    width:20rem
}

.upload .ant-form-item{
    margin: 0;
}

.upload .ant-picker{
    border: 1.5px solid var(--jjChoco);
    height:2.5rem;
    width:20rem
}

.upload .ant-select{
    line-height: 2.5rem;
    width:20rem
}

.upload .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    width:20rem;
    height:2.5rem;
    border: 1.5px solid var(--jjChoco);
    color:var(--jjChoco)


}

.upload .ant-select-arrow{
    margin-left: 18rem;
    color:var(--jjChoco)

    /* right:-110px; */
}

.upload .ant-form-item{

    width:20rem;
}

.upload .ant-select-single .ant-select-selector .ant-select-selection-item, .ant-select-single .ant-select-selector .ant-select-selection-placeholder{
    line-height: 2.5rem;
}

.upload .donatecard-row-container{
    margin:2rem 0;
}

.upload-step2-selection{
    margin-left: 25rem;
    margin-right: 15rem;
}

.upload-gift-finish-btn{
    color:var(--jjChoco);
    background-color: var(--jjGrass);
    width:7rem;
    height:3rem;
    line-height: 3rem;
    border-radius: 3rem;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
    margin-left: 16rem;
}