@import "./css/home.css";
@import "./css/header.css";
@import "./css/footer.css";
@import "./css/product.css";

/* 這邊是基本ㄉ顏色 */
:root {
  --jjGrass: #d4e09b;
  --jjLightGrass:#eef3d7;
  --jjLemon: #f6f4d2;
  --jjLeaf: #cbdfbd;
  --jjSalmon: #f19c79;
  --jjChoco: #895d42;
  --jjLightChoco: #a98976;
}

body {
  /* background-color: var(--jjLeaf); */
}

.mainarea {
  padding: 0 4.5rem;
}

/* 基本字型規範 */
.text-white {
  font-family: "Roboto Mono", monospace;
  color: white;
  text-decoration: none;
}
.text-choco {
  font-family: "Roboto Mono", monospace;
  color: var(--jjChoco);
  text-decoration: none;
}

a {
  text-decoration: none;
}
link {
  text-decoration: none;
}
