@import "./css/home.css";
@import "./css/header.css";

/* 這邊是基本ㄉ顏色 */
:root {
  --jjGrass: #d4e09b;
  --jjLemon: #f6f4d2;
  --jjLeaf: #cbdfbd;
  --jjSalmon: #f19c79;
  --jjChoco: #895d42;
}

body {
  background-color: var(--jjLeaf);
}

/* 基本字型規範 */
.text-white {
  font-family: "Roboto Mono", monospace;
  color: white;
  text-decoration: none;
}
.text-choco {
  font-family: "Roboto Mono", monospace;
  color: var(--jjChoco);
  text-decoration: none;
}

a {
  text-decoration: none;
}
link {
  text-decoration: none;
}
